@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@keyframes drawLine {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  animation: drawLine 3s linear infinite alternate;
}